*{
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}


hr{
	width: 150px;
	height: 2px;
	background-color: #5592f4;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	padding: 125px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section h4{
	color: #414a4f;
	font: bold 24px 'Open Sans', sans-serif;
	margin-bottom: 25px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: justify;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

section li{
	max-width: 800px;
	text-align: justify;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 0px 100px 0;
}

header nav{
	display: flex;
	transform: translateY(-40px);
}
header nav li{
	margin: -50px 15px;
	font-size: 1.3em;
}

header nav li:first-child{
	margin-left: 0;	
}

header nav li:last-child{
	margin-right: 0;	
}

header nav a:hover{
	color: white;
	text-decoration: none;
	opacity: 1;
}
@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}
}
	header h2{
		margin-bottom: 15px;}
        .topnav {
            background-color: #333;
            overflow: hidden;}
            .topnav a {
                float: left;
                display: block;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
              }
              a:hover{
                color:red
              }
              .active {
                background-color: #4CAF50;
                color: white;
              }
              .topnav .icon {
                display: none; }
                .topnav a:hover, .dropdown:hover .dropbtn {
                    background-color: #555;
                    color: white;}
                    @media screen and (max-width: 600px) {
                        .topnav a:not(:first-child)}
                        .topnav a.icon {
                            float: right;
                            display: block;
                          }
                          @media screen and (max-width: 600px) {
                            .topnav.responsive {position: relative;}
                            .topnav.responsive a.icon {
                              position: absolute;
                              right: 0;
                              top: 0;}
                            }
                            .topnav.responsive a {
                              float: none;
                              display: block;
                              text-align: left;
                            }
                            .main{
                                position: relative;
                                justify-content: center;
                                min-height: 100vh;
                                color: #fff;
                                text-align: center;
                                background-color: #566184;}
                                .main h1{
                                    font: 80px 'Orbitron', sans-serif;
                                    margin-bottom: 15px;
                                    border-top: thick double #a5b5d1;
                                    border-bottom: thick double #a5b5d1;
                                }
                                
                                .main h3{
                                    font: normal 28px 'Open Sans', sans-serif;
                                    margin-bottom: 40px;
                                }
                                .оur-work{
                                    background-color: #fff;
                                }
                                
                                .our-work .grid li{
                                    padding: 20px;
                                    height: 350px;
                                    border-radius: 3px;}
                                    .features{
                                        background-color: #f7f7f7;
                                    }
                                    
                                    .service-details{
                                        font-size: 1.5em;
                                        line-height: 2;
                                    }
                                    
                                    .features .grid li{
                                        padding: 0 30px;
                                        flex-basis: 33%;
                                        text-align: center;
                                        margin-bottom: 50px;
                                    }
                                    
                                    .features .grid li i{
                                        font-size: 50px;
                                        color: #2196F3;
                                        margin-bottom: 25px;
                                    }
                                    
                                    .features .grid li h4{
                                        color: #555;
                                        font-size: 20px;
                                        margin-bottom: 25px;
                                    }
                                    
                                    .features .grid li p{
                                        margin: 0;
                                        text-align: justify;
                                    }
                                    
                                    @media (max-width: 1000px){
                                    
                                        .features .grid li{
                                            flex-basis: 70%;
                                            margin-bottom: 65px;}
                                        }
                                        .contact{
                                            background-color: #fff;
                                            position: relative;
                                        }
                                        footer{
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            text-align: center;
                                            color: #fff;
                                            background-color: #414a4f;
                                            padding: 60px 0;
                                        }
                                        
                                        footer ul{
                                            display: flex;
                                            margin-bottom: 25px;
                                            font-size: 32px;
                                        }
                                        
                                        footer ul li{
                                            margin: 0 8px;}	